<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Curriculo - Identificação </title>
        <link rel="shortcut icon" href="./src/img/favicon-16x16.png" type="image/x-icon" />
            <!-- Google fonts Lato -->
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
            />
            <!-- CSS Bootstrap -->
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
            />
            <!-- Bootstrap Icons -->
            <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            />
            <!-- CSS do projeto -->
            <link rel="stylesheet" href="../src/css/estiloCurriculo.css"/>
            <!-- JavaScript Bootstrap -->
            <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
            ></script>		 
    </head>

    <body>
        
        <div class="container-fluid bg-1">        
            <div class="meuNome">
                <h1> Elga Luiza Rodrigues </h1>
            </div>

            <div>
                <h2> Objetivo </h2>
                <h5>
                    Iniciar novo trabalho com desenvolvimento 
                    de sites em Web, <br> inicialmente em front-end 
                    e já finalizando o treinamento em Back-End.<br>
                    Escolhi o segmento Desenvolvimento em Web e 
                    pretendo<br>  obter resultado crescente nessa área.
                </h5>

                <h2> Escolaridade </h2>
                <h5>
                    Programação em Web pela Prodabel, 2022 <br>
                    Tecnologia em Processamento de Dados pela Newton Paiva, 1995.
                </h5>

                <h2> Habilidades em foco </h2>
                <h5>
                    Desenvolvimento Web Front-End <br>
                    HTML, CSS, SASS, Bootstrap <br> <br><br>                   
                    Desenvolvimento Web Back-End <br>
                    JavaScript, JQuery, Node, Express <br> <br>                   
                    Análise de Requisitos <br> <br>                   
                    Gerenciamento de Projetos  (MS-Project) <br>
                </h5>

                <h2> Experiência </h2>
                <h5>
                    1991 a 2013<br>
                    Analista de desenvolvimento de Sistemas - Cemig<br>  <br>                  
                    Atividades principais como analista de sistemas: <br><br>
                    Análise de requisitos de Sistemas, levantamento e documentação;<br>
                    Gerenciamento de projetos de informática (MS-Project);<br>
                    Documentação de sistemas em UML;<br>
                    Elaboração de casos de uso e casos de testes.
                </h5>

                <h2> Certificações e Cursos </h2>
                <h5>
                    Em Treinamento (Agosto/2022): JavaScript, PHP, My-SQL (Prodabel);<br><br>
                    Bootstrap, Sass, Json, Jquery, Node, Express: Prodabel<br><br>
                    HTML e CSS: Prodabel – Outubro/2021;<br><br>
                    Gerenciamento de Projetos - MS-Project;<br><br>
                    UML e SCRUM;<br><br>
                    Inglês intermediário e inglês técnico.
                </h5>
            </div>
            <a href="../index.html" class="btn btn-outline-info btn-lg"> Home </a>
            <a href="./linkProjetos.html" class="btn btn-outline-info btn-lg"> Desafios e Projetos </a> <br><br>
        </div>
       

    </body>    
</html>