<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Meus Projetos </title>
        <link rel="shortcut icon" href="./src/img/favicon-16x16.png" type="image/x-icon" />
        <!-- Google fonts Lato -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet"
        />
        <!-- CSS Bootstrap -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <!-- Bootstrap Icons -->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <!-- CSS do projeto -->
        <link rel="stylesheet" href="../src/css/estiloProjetos.css"/>
        <!-- JavaScript Bootstrap -->
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <h3> HTML - CSS - JavaScript (Codepen) </h3>
            
        <div class="botoes">
            <a href="../index.html" class="btn btn-outline-info btn-lg center"> Home </a>
        </div>

        <div class="painel">
            <h5> Landing Page </h5>
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="QWrpxVg" data-user="elgaluiza" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elgaluiza/pen/QWrpxVg">
                LandingPage</a> by ElgaLuiza (<a href="https://codepen.io/elgaluiza">@elgaluiza</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
            <h5> Login </h5>
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="rNvyrdE" data-user="elgaluiza" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elgaluiza/pen/rNvyrdE">
                Login</a> by ElgaLuiza (<a href="https://codepen.io/elgaluiza">@elgaluiza</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>

              <h5> Conversor de Moedas </h5>
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="XWqNVQY" data-user="elgaluiza" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
			  <span>See the Pen <a href="https://codepen.io/elgaluiza/pen/XWqNVQY">
			  ConversorMoedas</a> by ElgaLuiza (<a href="https://codepen.io/elgaluiza">@elgaluiza</a>)
			  on <a href="https://codepen.io">CodePen</a>.</span>
			</p>
			<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>

            <h5> Calculadora de IMC </h5>
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="poVeBez" data-user="elgaluiza" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elgaluiza/pen/poVeBez">
                Calculadora de IMC</a> by ElgaLuiza (<a href="https://codepen.io/elgaluiza">@elgaluiza</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script><br>
              
            <h5> Calculadora de média </h5>
            <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="XWqNbzQ" data-user="elgaluiza" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/elgaluiza/pen/XWqNbzQ">
                Desafio1</a> by ElgaLuiza (<a href="https://codepen.io/elgaluiza">@elgaluiza</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        </div>
    </body>
</html>