<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/viewStyle.css">
        <title> Título </title>      

    </head>
    <body>
        <h2> Página em construção...</h2>
        <img src="../img/paginaConstrucao.jfif" alt="Página em Construção" style="width:200px; height:200px";>

        <script> </script> 
        
        <footer>
            <br><br>
                <a href="../../index.html">
                    <img src="../img/left_voltar.png" alt="Voltar" style="width:30px; height:30px";>
                </a><br><br>
          </footer>
    </body>    
</html>