<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/viewStyle.css">
        <!-- <script src="../src/js/calculos.js"></script> -->
		<title> Cálculos </title>
       
<!--	
        Leia um numero N e some todos os números entre 1 e N. E monste o
        resultado obtido.
        
-->
    </head>
    <body>
        <h2>Soma de inteiros</h2>
            <script>
                var n = 0;
                var soma=0;

                n=window.prompt ("Digite um numero inteiro:  ", "digite um numero ");

                for (var i=0; i<=n; i++){
                    soma+=i;
                }
                window.document.writeln("Soma de numeros inteiros entre 1 e ",n, " = " , soma);  
            </script>
       
            <br><br><br>
            
            <footer>
                <br><br>
                    <a href="../../index.html">
                        <img src="../img/left_voltar.png" alt="Voltar" style="width:30px; height:30px";>
                    </a><br><br>
              </footer>
    </body>    
</html>